<!-- Sección introductoria -->
<main class="container">
  <section class="fade-in-up" style="text-align: center; margin-top: 3rem;">
    <h2 style="font-size: 2rem; font-weight: bold;">Explora Nuestras Categorías</h2>
    <p style="margin-top: 0.5rem;">Descubre una amplia variedad de juegos de mesa para todos los gustos y edades.</p>
  </section>

  <!-- Categorías con tarjetas -->
  <section class="juegos-grid fade-in-up" style="margin-top: 2rem;">

    <a routerLink="/categorias/estrategia" class="card-inner fade-in-up">
      <img src="assets/img/ESTRATEGIA.jpg" alt="Estrategia" />
      <h3 style="text-align:center; padding: 1rem;">Estrategia</h3>
    </a>

    <a routerLink="/categorias/familiares" class="card-inner fade-in-up">
      <img src="assets/img/FAMILIA.png" alt="Familiares" />
      <h3 style="text-align:center; padding: 1rem;">Familiares</h3>
    </a>

    <a routerLink="/categorias/infantiles" class="card-inner fade-in-up">
      <img src="assets/img/INFANTIL.jpg" alt="Infantiles" />
      <h3 style="text-align:center; padding: 1rem;">Infantiles</h3>
    </a>

    <a routerLink="/categorias/cartas" class="card-inner fade-in-up">
      <img src="assets/img/CARTAS.png" alt="Cartas" />
      <h3 style="text-align:center; padding: 1rem;">Cartas</h3>
    </a>
  </section>
</main>
